body {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fcfdfc;
}

/* ヘッダー */
header {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-bottom: 20px;
}

.header_top {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.header_logo h1 {
    font-size: 20px;
    font-weight: normal;
}

.header_social_icon {
    position: absolute;
    right: 10px;
    top: 3px;
    display: flex;
    justify-content: center;
}

.social_icon {
    padding: 0 5px;
}

.icon_badge {
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    border: .5px solid black;
    border-radius: 50%;
    position: relative;
    transition: background-color .3s ease-out;
}

.icon_badge .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: black;
    line-height: 0;
    line-height: 0;
}

.facebook_icon_badge:hover {
    background: #3b5998;
}

.youtube_icon_badge:hover {
    background: #f00;
}

.icon_badge:hover .icon {
    color: #fff;
}

.category_nav {
    display: flex;
    justify-content: center;
    background-color: #d0cfcd;
    padding: 5px 0;
}

.nav_item {
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}

.nav_item::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    margin: auto;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0, 1);
    transition: transform .3s;
    transform-origin: center top;
}

.nav_item:hover::before {
    transform: scale(1, 1);
}

/* トップイメージ */

main {
    padding: 0 50px;
}

/* メイン */

.content-inner {
    flex: 1;
}

.content-container {
    display: none;
    flex-direction: column;
}

.content-container.show {
    display: flex;
    animation: have-show 1s ease .2s;
}

@keyframes have-show {
    0%{display: none; opacity:0; transform: translateY(-30px);}
    100%{display: flex; opacity:1; transform: translateY(0px);}
}

.content-container_title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content-container_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content {
    height: 370px;
    width: 300px;
    margin-bottom: 20px;
}

.content_image {
    margin: 10px;
    height: 200px;
    width: 280px;
    border-radius: 5px;
    background: red;
    overflow: hidden;
}

.content_image img {
    height: 200px;
    width: 280px;
}

.content_text {
    height: 150px;
    margin: 0 10px;
}

.content_text h1 {
    color: #000;
}

.content_text p {
    color: #787c7b;
}

/* フッター */
footer {
    height: 150px;
    background: #d0cfcd;
    display: flex;
    flex-direction: column;
}

.footer_copyright {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}



@media (min-width: 768px) {

/* トップイメージ */
.header_image_wrapper {
    padding: 0 40px;
    margin-bottom: 40px;
}

.header_image {
    margin: 0 auto;
    height: 700px;
    max-width: 1200px;
}

/* メイン */
main {
    padding: 0 50px;
}

.content-container_main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    height: 700px;
    width: 700px;
    margin-bottom: 20px;
    cursor: pointer;
}

.content:hover {
    opacity: 0.9;
}

.content_image {
    margin: 10px;
    height: 490px;
    width: 680px;
    border-radius: 5px;
    background: red;
}

.content_image img {
    height: 490px;
    width: 680px;
    transition: transform .5s ease;
}

.content:hover .content_image img {
    transform: scale(1.05, 1.05);
}

.content_text {
    height: 180px;
    margin: 0 10px;
}


}