@charset "utf-8";
body {
    font-family: 'Source Sans Pro', Helvetica Neue, arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fcfdfc;
}

/* ヘッダー */
header {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-bottom: 30px;
}

.header_top {
    display: flex;
    justify-content: center;
    position: relative;
}

.header_logo {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.header_logo img {
    width: 150px;
    height: 40px;
}

.header_social_icon {
    position: absolute;
    right: 5px;
    top: 18px;
    display: flex;
    justify-content: center;
}

.social_icon {
    padding: 0 5px;
}

.icon_badge {
    width: 25px;
    height: 25px;
    background: #fff;
    display: inline-block;
    border: .5px solid black;
    border-radius: 50%;
    position: relative;
    transition: background-color .3s ease-out;
}

.icon_badge .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: black;
    line-height: 0;
    line-height: 0;
    font-size: 15px;
}

.facebook_icon_badge:hover {
    background: #3b5998;
}

.youtube_icon_badge:hover {
    background: #f00;
}

.icon_badge:hover .icon {
    color: #fff;
}

.category_nav {
    display: flex;
    justify-content: center;
    /* background-color: #d0cfcd; */
    /* padding: 5px 0; */
    margin-top: -5px;
}

.nav_item {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    height: 20px;
    font-size: 14px;
}

.nav_item::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    margin: auto;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0, 1);
    transition: transform .3s;
    transform-origin: center top;
}

.nav_item:hover::before {
    transform: scale(1, 1);
}

/* メイン */
main {
    flex: 1;
}

/* トップコンテナ */
.top_container{
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fade_in .6s ease .2s;
    animation-fill-mode: forwards;
}

@keyframes fade_in {
    0%{opacity:0; transform: translateY(-30px);}
    100%{opacity:1; transform: translateY(0px);}
}

.top_image {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.top_image img {
    height: auto;
    max-width: 100%;
    margin-bottom: 5px;
}

.top_image p {
    text-align: center;
}

/* コンテントコンテナ */
.top_content_container {
    display: flex;
    flex-direction: column;
}

.content_container{
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fade_in .6s ease .2s;
    animation-fill-mode: forwards;
}

.content_container_title {
    margin-bottom: 30px;
}

.content_container_title h1 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    opacity: 0;
    transform: translate(0, -100px);
}

.content.show {
    opacity: 1;
    transform: none;
    transition: all .5s;
}

.content_image {
    height: auto;
    max-width: 100%;
    margin-bottom: 10px;
}

.content_meta {
    display: flex;
}

.content_meta time {
    margin: auto 0;
    margin-right: 10px;
    font-size: 13px;
}

.content_meta p {
    background: #d0cfcd;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 10px;
}

.content_text {
    height: 40px;
}

.content_text h1 {
    color: #787c7b;
    font-size: 15px;
}

/* .content_text p {
    color: #787c7b;
    font-size: 13px;
} */


/* フッター */
footer {
    height: 100px;
    background: #d0cfcd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_logo {
    width:130px;
    height: 30px;
    margin: 0 auto;
    background-image: url(../img/atrieH-logo.svg);
    background-repeat: no-repeat;
    margin-top: 20px;
}

.footer_copyright {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}

/* スクロールボタン */
/*--------------------------------
  scroll animation fadein
--------------------------------*/
.js-scroll-fadein {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
  }

.js-scroll-fadein.is-fadein {
    visibility: visible;
    opacity: 1;
  }
  /*--------------------------------
    arrow
  --------------------------------*/
  .arrow {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    cursor: pointer;
    background-color: #fff;
    border: solid 3px #d0cfcd;
    border-radius: 50%;
    padding: 25px;
    transition: all 0.2s ease-in-out;
  }

  .arrow::before{
    content: "";
    width: 12px;
    height: 12px;
    border-top: solid 4px #d0cfcd;
    border-right: solid 4px #d0cfcd;
    transform: rotate(-45deg);
    position:  absolute;
    left: 17px;
  }

  .arrow::before {
    top: 20px;
  }

  .arrow:hover {
      opacity: .8;
      bottom: 15px;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }

@media (min-width: 768px) {

header {
    height: 120px;
}

.header_logo {
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 40px;
}

.header_logo img {
    width: 250px;
    height: 70px;
}

.header_social_icon {
    right: 15px;
    top: 10px;
}

.social_icon {
    padding: 0 5px;
}

.icon_badge {
    width: 30px;
    height: 30px;
}

.icon_badge .icon {
    font-size: 15px;
}

.top_image img {
    margin-bottom: 10px;
}

.nav_item {
    font-size: 16px;
    padding: 0 15px;
}

/* コンテントコンテナ */
.content_container_title {
    margin-bottom: 30px;
}

.content_container_title h1 {
    font-size: 28px;
}

.content {
    max-width: 700px;
    margin-bottom: 50px;
    transition: transform .5s ease;
}

.content:hover {
    opacity: 0.9;
    transform: scale(0.95, 0.95);
}

.content_image {
    margin-bottom: 30px;
    transition: transform .5s ease;
}

.content_meta time {
    margin: auto 0;
    margin-right: 10px;
    font-size: 15px;
}

.content_meta p {
    background: #d0cfcd;
    padding: 3px 15px;
    border-radius: 10px;
    font-size: 10px;
}

.content_text {
    height: 60px;
}

.content_text h1 {
    font-size: 20px;
}

.content_text p {
    font-size: 15px;
}

}